@model SistemaLoja.Models.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do produto:   @Html.DisplayFor(model => model.Descricao)</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Descricao)*@
            @Html.DisplayName("Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Preco)*@
            @Html.DisplayName("Preço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.UltimaCompra)*@
            @Html.DisplayName("Última Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estoque)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Comentario)*@
            @Html.DisplayName("Comentário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
